@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background-color: rgb(241, 245, 241);
}

/* Custom utility classes */
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}